version: "3.9"
services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    restart: unless-stopped
    volumes:
      - qdrant_storage:/qdrant/storage

  scraper:
    build:
      context: .
      dockerfile: ./educhat-scraper/app/Dockerfile
    container_name: scraper
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - QDRANT_URL=http://qdrant:6333
    depends_on:
      - qdrant
    volumes:
      - .:/app  # Mount current directory for debugging
    restart: "no"

volumes:
  qdrant_storage: